<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Fust -  @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FustWebApp.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3 header ">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fust Application</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<partial name="_extendedLayout" />
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	<div class="container mw-100 mx-auto">
		<main role="main" class="pb-3">
			<div class="row">
				<div class="text-sm-center mb-3"><h3>@ViewData["Title"]</h3></div>
				@if (User.IsInRole("Admin"))
				{
					<div class="col-md-2 ">
						<div class="navbody mt-3 shadow mb-3 border-1 border-success border">
							<div class="text-sm-center navheader ">
								<span class="text-sm-center w-100 fw-bold">Suppliers</span>
							</div>
							<nav class="navbar">
								<div class="container-fluid ">
									<ul class="navbar-nav">
										<li>
											<a class=" btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Suppliers" asp-action="CreateSupplier">Create Supplier</a>
										</li>
										<li>
											<a class="btn btn-sm btn-outline-success shadow  mb-1 mt-1" asp-area="Admin" asp-controller="Suppliers" asp-action="Index">Supplier List</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>

						<div class="navbody mt-3 shadow mb-3 border-1 border-success border">
							<div class="text-sm-center navheader">
								<span class="text-sm-center w-100 fw-bold ">Fust Items</span>
							</div>
							<nav class="navbar">
								<div class="container-fluid ">
									<ul class="navbar-nav">
										<li class="nav-item ">
											<a class="btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Fust" asp-action="Index">Manage Fust</a>
										</li>
										<li class="nav-item ">
											<a class="btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Fust" asp-action="BaseValue">Fust Base Value</a>
										</li>

									</ul>
								</div>
							</nav>
						</div>

						<div class="navbody mt-3 shadow mb-3 border-1 border-success border">
							<div class="text-sm-center navheader">
								<span class="text-sm-center w-100 fw-bold">Origins</span>
							</div>
							<nav class="navbar">
								<div class="container-fluid ">
									<ul class="navbar-nav">
										<li class="nav-item ">
											<a class="btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Origin" asp-action="Index">Manage Origins</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>

						<div class="navbody mt-3 shadow mb-3 border-1 border-success border">
							<div class="text-sm-center navheader">
								<span class="text-sm-center w-100 fw-bold">Groups</span>
							</div>
							<nav class="navbar ">
								<div class="container-fluid ">
									<ul class="navbar-nav">
										<li class="nav-item ">
											<a class="btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Group" asp-action="Index">Manage Groups</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>

						<div class="navbody mt-3 shadow mb-3 border-1 border-success border">
							<div class="text-sm-center navheader">
								<span class="text-sm-center w-100 fw-bold">Users</span>
							</div>
							<nav class="navbar ">
								<div class="container-fluid ">
									<ul class="navbar-nav">
										<li class="nav-item">
											<a class="btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Role" asp-action="Index">Manage Users</a>
										</li>

									</ul>
								</div>
							</nav>
						</div>
						<div class="navbody mt-3 shadow mb-3 border-1 border-success border">
							<div class="text-sm-center navheader">
								<span class="text-sm-center w-100 fw-bold">Currency</span>
							</div>
							<nav class="navbar">
								<div class="container-fluid ">
									<ul class="navbar-nav">
										<li class="nav-item">
											<a class="btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Currency" asp-action="Index">Manage Currency</a>
										</li>

									</ul>
								</div>
							</nav>
						</div>

						<div class="navbody mt-3 shadow mb-3 border-1 border-success border">
							<div class="text-sm-center navheader">
								<span class="text-sm-center w-100 fw-bold">Logs</span>
							</div>
							<nav class="navbar">
								<div class="container-fluid ">
									<ul class="navbar-nav">
										<li class="nav-item">
											<a class="btn btn-sm btn-outline-success shadow mb-1 mt-1" asp-area="Admin" asp-controller="Log" asp-action="LogReader">Read Logs</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				}
				<div class="col-md-10">
					@RenderBody()
				</div>
			</div>
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container text-sm-center">
			&copy; 2023 - All Rights Reserved
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>



	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
