@{
	string controller = "";
	string action = "";

	if (ViewContext.RouteData.Values["controller"] != null)
	{
		controller = ViewContext.RouteData.Values["controller"].ToString();
	}

	if (ViewContext.RouteData.Values["action"] != null)
	{
		action = ViewContext.RouteData.Values["action"].ToString();
	}
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Fust -  @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FustWebApp.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Fust Application</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>

						<partial name="_extendedLayout" />
					</ul>


					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container mw-100">
		<main role="main" class="pb-3">
			<div class="row">
				<div class="text-sm-center mb-3"><h3>@ViewData["Title"]</h3></div>
				<div class="col-md-2">
					<div clas="bg-light">
						<div class="navheader text-sm-center">
							<span class="text-sm-center w-100 fw-bold">Quick Links</span>
						</div>
						<nav class="navbar sticky-top navbar-light navbody">
							<div class="container-fluid navbody my-1 mx-2 ">
								<ul class="navbar-nav">
									<li class="nav-item text-sm-start ">
										<a class="nav-link" asp-area="Admin" asp-controller="Load" asp-action="Index">View Loads</a>
									</li>
									@if (action == "Index")
									{
										<li>
											<input class="form-control searchInput" id="loadSearch" onkeyup="filterLoadTable(9)" placeholder="Search Load" type="text" />
										</li>
									}

									<li class="nav-item text-sm-start ">
										<a class="nav-link" asp-area="Admin" asp-controller="Load" asp-action="AddLoad">Add Load</a>
									</li>
									
								</ul>
							</div>
						</nav>
					</div>
				</div>

				<div class="col-md-10">
					@RenderBody()
				</div>
			</div>
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container text-sm-center">
			&copy; 2023 - All Rights Reserved
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>



