
@page
@using Microsoft.AspNetCore.Identity;
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LoadLayout.cshtml";
    }
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
